<template>
    <div class="solve">
        <h2>MEET OUR ADVISORS</h2>
        <div v-for="(face, index) in faces" :key="index"> 
        <child :dataprops="face"></child> 
        </div> 
    </div>
</template>

<script>
import child from './child.vue'
export default {
    data() {
        return {
            faces: undefined
        }
    },
    components:{
       'child': child
    },
        mounted() {
            this.faces = [
                {
                    image:'../src/assets/Images/elonmusk.png',
                    name: 'ADAM GREEN',
                    role:'Founder & CTO',
                    role1:'Senior Developer'
                },
                {
                    image:'../src/assets/Images/steve.png',
                    name: 'ADAM GREEN',
                    role:'Co-Founder & CFO',
                    role1:'Senior Market Analyst'
                },
                {
                    image:'../src/assets/Images/sundarpichai.png',
                    name: 'ADAM GREEN',
                    role:'Co-Founder & COO',
                    role1:'Project Manager'
                },
                {
                    image:'../src/assets/Images/binnybansal.png',
                    name: 'ADAM GREEN',
                    role:'CCO',
                    role1:'Community Lead'
                },

            ]
        }
    
}
</script>

<style scoped>
 /* @import '.././assets/css/style.css'; */
 /* @font-face {
font-family: HelveticaNeueBlackCond;
  src: url("src/assets/HelveticaNeueBlackCond.ttf")
} */
h2 {
   font-family: HelveticaNeueBlackCond;
   font-size: 31px;
   line-height: 60px;
   letter-spacing: 6.39px; 
   position: relative;
   left: 431px;
   width: 419px;
   top: -90px;
}
image {
    width: 70%;
}
.solve {
    position: relative;
top: -9px;
}
 </style>
 