<template>
<div class="posters">
    <div class="advisors">
        <img v-if="dataprops.image" :src="dataprops.image" alt="test"/>
        <div class="adjust">
        <p style="font-size: 15px;"><b>{{dataprops.name}}</b></p>
        <p style="font-size: 12px;margin-top:-10px;">{{dataprops.role}}</p>
        <p style="font-size: 12px;margin-top:-10px;">{{dataprops.role1}}</p>
        </div>
        <!-- <img src="../../assets/Images/HeroScreen1.png"> -->
    </div>
</div>    
</template>

<script>

export default {
    data(){
        return {

        }
    },
    props: ["dataprops"],
    mounted() {
        console.log("data", this.dataprops)
    }
}
</script>


<style scoped>
.posters {
    width:85%;
    margin: auto;
    position: relative;
    left: 170px;
    top: -50px;
}
img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    display:inline-block;
}
.advisors {
    float:left;
    width:25%; 
    position: relative;
    top:-20px;
    margin-left: -50px;
}
.adjust {
    text-align: center;
    position: relative;
    left: -57px;
}
</style>



