<template>
<div class="posters">
    <div class="box">
        <img v-if="dataprops.image" :src="dataprops.image" alt="test"/>
    </div>
</div>
 
</template>

<script>

export default {
    data(){
        return {

        }
    },
    props: ["dataprops"],
    mounted() {
        console.log("data", this.dataprops)
    }
}
</script>


<style scoped>
img {
    float: left;
    display:flex;
    padding:0px 51px;
    width:91px;
}
.box{
    position: relative;
    left:177px;
    top:-20px;
}
</style>



