<template>
    <div>
        <h2>AS SEEN IS</h2>
        <div v-for="(brand, index) in brands" :key="index"> 
        <child :dataprops="brand"></child> 
        </div> 
    </div>
</template>

<script>
import child from './child.vue'
console.log(child);
export default {
    data() {
        return {
            brands: undefined
        }
    },
    components:{
       'child': child
    },
        mounted() {
            this.brands = [
                {
                    image:'../src/assets/Images/zencash.png',
                },
                {
                    image:'../src/assets/Images/DragonChain.png',
                },
                {
                    image:'../src/assets/Images/vuamsterdam.png',
                },
                {
                    image:'../src/assets/Images/golem.png',
                },
                {
                    image:'../src/assets/Images/Tesla.png',
                },

            ]
        }
    
}
</script>

<style scoped>
 /* @import '.././assets/css/style.css'; */
 /* @font-face {
font-family: HelveticaNeueBlackCond;
  src: url("src/assets/HelveticaNeueBlackCond.ttf")
} */
h2 {
   font-size: 31px;
   line-height: 60px;
   letter-spacing: 6.39px; 
   position: relative;
   left: 530px;
   width: 417px;
   top: -24px;
}

 </style>
 