<template>
  <div style="position: relative;
top: -67px;">
      <carousel :perPage="1" 
      :paginationEnabled="false" 
      :loop="true" 
      :autoplay="true" 
      :mouse-drag="true"
      :spacePadding="50">
      <slide data-index="0"
        data-name="MySlideName"
        @slideclick="handleSlideClick">
        <img class="adjust" src="../../assets/Images/HeroScreen1.png" alt="">
      </slide>
      <slide data-index="0"
        data-name="MySlideName"
        @slideclick="handleSlideClick">
        <img class="adjust" src="../../assets/Images/HeroScreen.png" alt="">
      </slide>

          <slide data-index="0"
        data-name="MySlideName"
        @slideclick="handleSlideClick">
        <img class="adjust" src="../../assets/Images/HeroScreen1.png" alt="">
      </slide>
      </carousel>
  </div>
</template>

<script>
import { Carousel, Slide } from 'vue-carousel';
export default {
    name: 'ImageSlider',
    data () {
        return {

        }
    }, 
     methods: {
      handleSlideClick(dataset){
        console.log(dataset.index, dataset.name)
      }
     },
        components: {
           Carousel,
           Slide
        },
        mounted() {
            console.log("[imageSlider.vue]")
        }
    
}
</script>

<style scoped>
.adjust {
    width: 80%;
    height: auto;
}
img {
  position: relative;
  left: 125px;
}
</style>

