<template>
<div class="posters">
    <div class="box">
        <img v-if="dataprops.image" :src="dataprops.image" alt="test"/>
        <div class="adjust">
        <p style="font-size: 15px;color:black;"><b>{{dataprops.name}}</b></p>
        <p style="font-size: 9px;margin-top: 0px;">{{dataprops.genre}}</p>
        <p>
          <b>{{dataprops.starring[0]}}:</b>
            <span>{{dataprops.starring[1]}}</span>
        </p>
        <p style="margin-top: -9px;">
            <b>{{dataprops.director[0]}}</b>
            <span>{{dataprops.director[1]}}</span>
            </p>
        <p style="margin-top: 15px;">{{dataprops.description}}</p>
        </div>
    </div>
</div>    
</template>

<script>

export default {
    data(){
        return {

        }
    },
    props: ["dataprops"],
    mounted() {
        console.log("data", this.dataprops)
    }
}
</script>


<style scoped>
.box img {
    width:170.67px;
    height: 198.01px;
    float: left;
    position: relative;
    left: -21px;
    top: -7px;
}
.box{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width:30%;
    float: left;
    height: 159px;
    margin: 0 0 10px 10px;
    border-radius: 5px;
}
.box p{
    font-size: 8px;
    color: #B3B3B3;
}
.posters {
    margin-left:80px;
    position: relative;
    top:-150px
}
.adjust {
    position: relative;
    left:-20px;
}
#title{
    font-size: 12px;
}
</style>



