<template>
    <div style="position: relative;top: -105px;">
        <h2>ANNOUNCED CONTENT</h2>
        <div v-for="(movie, index) in movies" :key="index"> 
        <child :dataprops="movie"></child> 
        </div> 
    </div>
</template>

<script>
import child from './child.vue'
export default {
    data() {
        return {
            movies: undefined
        }
    },
    components:{
       'child': child
    },
        mounted() {
            this.movies = [
                {
                    image:'../src/assets/Images/Bitmap.png',
                    name: 'Deadpool(2018)',
                    genre: 'Action, Comedy',
                    starring: ['Starring','Vicky Kaushal,Angira Dhar,Alankrita Sahai'],
                    director:['Director','Anubhav Sinha'],
                    description: 'Foul-mouthed mutant mercenary Wade Wilson, brings together a team of fellow …'
                },
                {
                    image:'../src/assets/Images/twin-peaks-1.png',
                    name: 'Twin Peaks(2018)',
                    genre: 'Action, Comedy',
                    starring: ['Starring','Vicky Kaushal,Angira Dhar,Alankrita Sahai'],
                    director:['Director','Anubhav Sinha'],
                    description: 'Foul-mouthed mutant mercenary Wade Wilson, brings together a team of fellow …'
                },
                {
                    image:'../src/assets/Images/annihilation-s.png',
                    name: 'Annihilation(2018)',
                    genre: 'Action, Comedy',
                    starring: ['Starring','Vicky Kaushal,Angira Dhar,Alankrita Sahai'],
                    director:['Director','Anubhav Sinha'],
                    description: 'Foul-mouthed mutant mercenary Wade Wilson, brings together a team of fellow …'
                },
                {
                    image:'../src/assets/Images/moonlight-2016.png',
                    name: 'Moonlight(2018)',
                    genre: 'Action, Comedy',
                    starring: ['Starring','Vicky Kaushal,Angira Dhar,Alankrita Sahai'],
                    director:['Director','Anubhav Sinha'],
                    description: 'Foul-mouthed mutant mercenary Wade Wilson, brings together a team of fellow …'
                },
                {
                    image:'../src/assets/Images/babydriver-4.png',
                    name: 'Baby Driver(2018)',
                    genre: 'Action, Comedy',
                    starring: ['Starring','Vicky Kaushal,Angira Dhar,Alankrita Sahai'],
                    director:['Director','Anubhav Sinha'],
                    description: 'Foul-mouthed mutant mercenary Wade Wilson, brings together a team of fellow …'
                },
                {
                    image:'../src/assets/Images/thenun.png',
                    name: 'The Nun(2018)',
                    genre: 'Action, Comedy',
                    starring: ['Starring','Vicky Kaushal,Angira Dhar,Alankrita Sahai'],
                    director:['Director','Anubhav Sinha'],
                    description: 'Foul-mouthed mutant mercenary Wade Wilson, brings together a team of fellow …'
                }

            ]
        }
    
}
</script>

<style>
 /* @import '.././assets/css/style.css'; */
 /* @font-face {
font-family: HelveticaNeueBlackCond;
  src: url("src/assets/HelveticaNeueBlackCond.ttf")
} */
h2 {
   font-size: 31px;
   line-height: 60px;
   letter-spacing: 6.39px; 
   position: relative;
   left: 417px;
   width: 417px;
   top: -150px;
}

 </style>
 