@font-face {
  font-family: ProductSansRegular;
  src: url("../ProductSansRegular.ttf");
}
@font-face {
font-family: HelveticaNeueBlackCond;
  src: url("../font1.ttf");
}
@font-face {
  font-family: GothamRoundedBold;
  src: url("../GothamRoundedBold_21016.ttf");
}
p {
font-family: ProductSansRegular;
}
h2 {
font-family: HelveticaNeueBlackCond; 
}
h4 {
font-family: HelveticaNeueBlackCond;  
}
h3 {
  font-family: Helvetica, sans-serif;
}