<template>
<div class="posters">
    <div class="team">
        <img v-if="dataprops.image" :src="dataprops.image" alt="test"/>
        <div class="adjust">
        <p style="font-size: 15px;color:black;"><b>{{dataprops.name}}</b></p>
        <p style="font-size: 12px;margin-top:-10px;color:black;">{{dataprops.role}}</p>
        </div>
    </div>
</div>    
</template>

<script>

export default {
    data(){
        return {

        }
    },
    props: ["dataprops"],
    mounted() {
        console.log("data", this.dataprops)
    }
}
</script>


<style scoped>
.posters {
    width:85%;
    margin: auto;
    position: relative;
    left: 20px;
    top: -45px;
}
img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    display:inline-block;
}
.team {
    float:left;
    width:20%; 
    position: relative;
    top:-20px;
}
.adjust {
    text-align: center;
    position: relative;
    left: -31px;
}
</style>



