<template>
    <div style="position: relative;top: -83px;">
        <h2>MEET OUR CORE TEAM</h2>
        <div v-for="(face, index) in faces" :key="index"> 
        <child :dataprops="face"></child> 
        </div> 
    </div>
</template>

<script>
import child from './child.vue'
export default {
    data() {
        return {
            faces: undefined
        }
    },
    components:{
       'child': child
    },
        mounted() {
            this.faces = [
                {
                    image:'../src/assets/Images/amalneeradh.png',
                    name: 'AMAL NEERADH',
                    role:'Director'
                },
                {
                    image:'../src/assets/Images/anuragkashyap.png',
                    name: 'ANURAG KASHYAP',
                    role:'Director'
                },
                {
                    image:'../src/assets/Images/rajkumarhirani.png',
                    name: 'RAJKUMAR HIRANI',
                    role:'Director'
                },
                {
                    image:'../src/assets/Images/prabhudeva.png',
                    name: 'PRABHU DEVA',
                    role:'Director'
                },
                {
                    image:'../src/assets/Images/rajeevravi.png',
                    name: 'RAJEEV RAVI',
                    role:'Actor'
                }

            ]
        }
    
}
</script>

<style scoped>
 /* @import '.././assets/css/style.css'; */
 /* @font-face {
font-family: HelveticaNeueBlackCond;
  src: url("src/assets/HelveticaNeueBlackCond.ttf")
} */
h2 {
   font-family: HelveticaNeueBlackCond;
   font-size: 31px;
   line-height: 60px;
   letter-spacing: 6.39px; 
   position: relative;
   left: 417px;
   width: 419px;
   top: -97px;
}
image {
    width: 70%;
}
 </style>
 