<template>
    <div>
        <ImageSlider></ImageSlider>
        <HowItWorks></HowItWorks>
        <Nucinema></Nucinema>
    </div>
</template>

<script>
import ImageSlider from './Body/ImageSlider.vue'
import HowItWorks from './Body/HowItWorks.vue'
import Nucinema from './Body/Nucinema.vue'

export default {
    data(){
        return{

        }
    },
    components:{
        ImageSlider,HowItWorks,Nucinema,
    }
}
</script>

<style>

</style>

