<template>
<div>
    <div class="adjust">
         <div class="reach">
         <p style="font-size: 19px;height: 46px;width: 318.5px;letter-spacing: .38px;">Any question? Reach out to us and we’ll get back to you shortly.</p>
         <p style="padding-left:45px;"><i class="fa fa-phone" aria-hidden="true"></i><span style="padding-left:15px;">+91 9995534528</span></p>
         <p style="padding-left:45px;"><i class="fas fa-envelope"></i><span style="padding-left:15px;">Support@nucinema.com</span></p>
         </div>
         <div class="form">
            <div class="form1"> 
             <p style="font-size: 25px;letter-spacing: .57px;">Get in touch</p>
             <input type="text" name="yourname" placeholder="Your Name">
             <input type="text" name="youremail" placeholder="Your Email">
             <!-- <textarea rows="1" columns="1" style="resize: none;">Your Name</textarea><br>
             <textarea rows="1" columns="1" style="resize: none;">Your Email</textarea><br> -->
             <textarea rows="4" columns="50" style="resize: none;">Your Message</textarea><br>
             <button class="button">SUBMIT</button>
            </div> 
         </div>
    </div>
</div>    
</template>

<script>
export default {
    name:'FooterPartOne',
    data(){
        return {

        }
    }
}
</script>

<style scoped>

.adjust {
background-image: linear-gradient(#f5515f,#9f041b);
width: 100%;
height: 400px;
}
.reach {
    width: 50%;
    padding-top: 65px;
    padding-left: 144px;
}
.form {
    width: 30%;
    float: right;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background:white;
    margin-right: 264px;
    position:relative;
    top: -148px;
    border-radius: 5px;
    height: 417px;
}
.button {
    background-image:linear-gradient(#f5515f,#9f041b);
    border-radius: 5px;
    width:30%;
    padding:6px;
    color:#FFFFFF;
    margin-top: 20px;
    font-size: 11px;
    border: 1px solid rgba(0,0,0,0.1);
}
textarea {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.2);
  font-family: ProductSansRegular;
  font-size: 12px;
}
input[type=text]{
    width: 60%;
    font-size:12px;
    margin:8px 0;
    border-radius:5px;
    border: 1px solid rgba(0,0,0,0.2);
    font-family: ProductSansRegular;
    padding:11px 20px;
}
.form1 {
  margin-left:60px;
}
.reach p{
   color:#FFFFFF;
}
.form1 p,textarea {
    color:#9B9B9B
}
</style>

