<template>
    <div class="adjust">
        <div clss="adjust1">
        <img src="../assets/Logo-1.png" alt="">
        </div>
        <div class="adjust2">
        <p> © Powered by Mobiotics All Rights Reserved. HBO, Home Box Office and all related channel and programming logos are service marks of, 
            and all related programming visuals and elements are the property of, Home Box Office, Inc. All rights reserved.</p>
        </div>
    </div>
</template>

<script>
export default {
    name:'FooterPartThree',
    dat() {
        return {

        }
    }
}
</script>

<style scoped>
p {
    color: gray;
    font-size: small;
    width:37%;
    line-height: 18px;
    padding-left: 11px;
}
.adjust {
    float:left;
    display:flex;
    position: relative;
    left: 91px;
}
img {
    width:90px;
}
</style>
