<template>
    <div class="navbar">
      <ul>
        <li style="float:left"><a href="#Nucinema"><span>NU</span>CINEMA</a></li>
        <li style="float:left"><a href="#AppStore">App Store</a></li>
        <li style="float:left"><a href="#Privacy&Terms">Privacy & Terms</a></li>
        <li style="float:left"><a href="#FollowUs">Follow Us</a></li>
        <li style="float:left"><a href="#twitter"><i class="fab fa-twitter-square"></i><i class="fab fa-youtube" style="padding-left: 7px;"></i><i class="fab fa-facebook-square" style="padding-left: 7px;"></i><i class="fab fa-instagram" style="padding-left: 7px;"></i></a></li>
        <!-- <li style="float:left"><a href="#youtube"></a></li>
        <li style="float:left"><a href="#facebook"></a></li>
        <li style="float:left"><a href="#instagram"></a></li> -->
        <!-- <li style="float:left"><a href="#Uk">English(United Kingdom)</a></li> -->
      </ul>
      <div style="position: absolute;right: 124px;color: #88888D;font-size: small;font-family: ProductSansRegular;">English(United Kingdom)</div>
    </div>
</template>

<script>
export default {
    name:'FooterPartTwo',
    data() {
        return{

        }
    }
}
</script>

<style scoped>
ul {
  list-style-type: none;
  padding-left: 81px;
}
.navbar {
  width:100%;
  position:relative;
  top: 146px;
}
li a {
  display: block;
  color: #88888D;
  text-align: center;
  padding: 5px 21px;
  text-decoration: none;
  font-size: small;
  font-family: ProductSansRegular;
}
p {
  color: #88888D;
  font-size: small;
}
span {
  color:red;
}
</style>
