<template>
    <div>
        <Navbar></Navbar>
    </div>
</template>

<script>
import Navbar from './HeaderPart/Navbar.vue'
export default {
    data(){
        return{

        }
    },
    components:{
        Navbar
    }
}
</script>
<style>

</style>
