<template>
    <div style="position: relative;top: -77px;">
      <h2>THIS IS HOW IT WORKS</h2>
       <div id="type1">
        <div id="type2">
            <p>NuCinema is setting up own content production house to produce original content and a state of the art technology platform to cater to viewers from across the world. We aim to produce 50 to 100 hours of original content including movies and web series per year to begin with.</p>
            <p>We shall be gleaning stories from across the world and selecting the best ones for production through a rigorous curation process. Viewers shall also collaborate by contributing and bidding for stories that gets shortlisted. Top selected stories shall then be written and produced with global production values through an efficient process. </p>
        </div>
        <div id="type3">
            <img src="src/assets/Images/Howitwork.png" alt="">
        </div>
       </div>
    </div>
</template>
<script>
export default {
    name:'SubBodyTwo',
    data() {
        return {

        }
    }
}
</script>

<style scoped>
/* @import '../assets/css/style.css'; */
h2 {   
   font-size: 31px;
   line-height: 60px;
   letter-spacing: 6.39px; 
   position: relative;
   left: 423px;
   width: 437px;
   top: -113px;
}

/* @font-face {
  font-family: ProductSansRegular;
  src: url("src/assets/ProductSansRegular.ttf");
  
}
@font-face {
font-family: HelveticaNeueBlackCond;
  src: url("src/assets/HelveticaNeueBlackCond.ttf")
} */
#type1 {
     position:relative;
    display: flex;
    margin:auto;
} 
#type2 {
    width: 32%;
    font-size:14px;
    color: #272727;
    letter-spacing: 0.29px;
    line-height: 31px;
    position:relative;
    top:-101px;
    left:118px;
}
#type3 {
    position:relative;
    left:167px;
    width: 50%;
    top: -136px;
}
img {
    width: 100%;
}
</style>
