<template>
  <div class="ft-container"
  :style="{
            'min-height': `500px`
          }" >
    <div
      class="featured-carousel"
      :id="`featured-carousel`">
      <div v-for="(nu,key) in 3" :key="key">
        <img width="100%" height="100%"  src="../assets/Images/HeroScreen1.png" alt="">        
      </div>

    </div>
  </div>
</template>

<script>
import { tns } from 'tiny-slider/src/tiny-slider.module';


export default {
  name: 'FeaturedCarousel',
  data () {
    return {
      contents: [
          '../assets/Images/HeroScreen1.png',
          '../assets/Images/HeroScreen1.png',
          '../assets/Images/HeroScreen1.png'
      ],
    };
  },
  created () {  
    //
    this.fetchCardHeight();
    
  },
  mounted () {
      this.renderCorousel()
  },
  methods: {
    renderCorousel () {
        this.slider = tns({
                  container: `#featured-carousel`,
                  autoplay: true,
                  autoplayHoverPause: false,
                  autoplayButtonOutput: false,
                  autoHeight: true,
                  freezable: false,
                  loop: false,
                  rewind: false,                  
                  controls: false,
                  nav: false,
                  items: 1,
                });
    },
    fetchCardHeight () {
      let bodyWidth = document.body.offsetWidth - 400;
      let cardHeight = Math.round(bodyWidth / (16/9));
      if (cardHeight) {
        this.cardHeight = cardHeight + 10;
      }
    }
  }
}
</script>

<style>

</style>

