<template>
  <div class="navbar">
        <ul>
          <li style="float:right"><a href="#home">CONTACT</a></li>
          <li style="float:right"><a href="#news">TEAM</a></li>
          <li style="float:right"><a href="#contact">TOKENSALE</a></li>
          <li style="float:right"><a href="#contact">WHITEPAPER</a></li>
          <li style="float:right"><a href="#contact">HOW IT WORKS</a></li>
          <li style="float:right"><a href="#contact">WHAT IS NUCINEMA</a></li>
          <div class="branding" style="display:flex;width: 18%;padding-left: 73px;padding-top: 18px;">
            <div><img style="width:39px" src="../assets/Logo-1.png" alt=""></div>
            <div style="padding-left: 12px;"><p style="font-size:small;font-family:GothamRoundedBold;"><span style="color:red;">NU</span>CINEMA</p></div>
          </div>
        </ul>
    </div>
</template>

<script>
export default {
  name: 'Navbar',
  data () {
    return {
      
    }
  }
}
</script>

<style scoped>
/* @import '../assets/css/style.css'; */
.navbar {
  width: 70%;
}
ul {
  list-style-type: none;
  margin: 0;
  position:relative;
  left: 123px;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: grey;
  text-align: center;
  padding: 30px 7px;
  text-decoration: none;
  font-size: small;
  font-family: ProductSansRegular;
}
/* @font-face {
  font-family: ProductSansRegular;
  src: url("../assets/ProductSansRegular.ttf");
} */
.active span{
  color: red;
}
.active {
  color: black;
}
</style>
