<template>
    <div style="position: relative;top: -77px;">
        <h2>WHAT IS NUCINEMA?</h2>
        <div id="type1">
            <div id="type2">
                <img src="../assets/Images/What is Nucinema.png" alt="">
            </div>
            <div id="type3">
               <p>Dear viewer - we want to collaborate with you to visualise stories of your very ordinary life in the most extraordinary ways. Stories of your fantasies, fears, desperation, lust,romance, dreams, hopes, sorrow, vulnerabilities and vainness. Your own story as it happens in the past, present and future. Stories from across the world, stories that do not follow patterns and formulae. Stories that are real and ethereal. Stories that matter.And you shall be able to watch them at the comfort of your home without impediments. 
            </p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name:'SubBodyOne',
    data() {
        return {

        }
    }
}
</script>

<style scoped>
/* @import '../assets/css/style.css'; */
/* @font-face {
  font-family: ProductSansRegular;
  src: url("../assets/ProductSansRegular.ttf"); 
}
@font-face {
font-family: HelveticaNeueBlackCond;
  src: url("../assets/HelveticaNeueBlackCond.ttf")
} */
p {
    font-family: ProductSansRegular;
}
h2 {
   font-family: HelveticaNeueBlackCond;
   font-size: 31px;
   line-height: 60px;
   letter-spacing: 6.39px; 
   position: relative;
   left: 417px;
   width: 392px;
   top: -26px;
}
#type1 {
    position:relative;
    display: flex;
    margin:auto;
}
#type2 {
    position:relative;
    left:38px;
    width: 50%;
    top: -68px;
}
#type3 {
    position:relative;
    top:38px;
    left:39px;
    font-size:14px;
    color: #272727;
    letter-spacing: 0.29px;
    line-height: 31px;
    width: 35%;
}
img {
    width: 100%;
}

</style>
