<template>
  <div id="app">
    <Header/>
    <ImageSlider/>
    <Nucinema/>
    <HowItWorks/>
    <Content/>
    <Team/>
    <Advisors/>
    <SeenIs/><br><br>
    <Contact/>
    <FooterNavbar/>
    <Copyright/>
  </div>
</template>

<script>
import Header from './components/Header.vue'
import ImageSlider from './components/ImageSlider.vue'
// import ImageSlider1 from './components/ImageSlider1.vue'
import Nucinema from './components/Nucinema.vue'
import HowItWorks from './components/HowItWorks.vue'
import Content from './components/Content/ContentCode.vue'
import Team from './components/Team/TeamCode.vue'
import Advisors from './components/Advisors/AdvisorsCode.vue'
import SeenIs from './components/SeenIs/SeenIsCode.vue'
import Contact from './components/Contact.vue'
import FooterNavbar from './components/FooterNavbar.vue'
import Copyright from './components/Copyright.vue'

export default {
  name: 'App',
  components: {
    Header,ImageSlider,Nucinema,HowItWorks,Content,
    Team,Advisors
    ,SeenIs
    ,Contact
    ,FooterNavbar,
    Copyright
  }
}
</script>

<style scope>
#app {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}
</style>
